{% extends "ledger/layout.html" %}
{% load static %}

{% block content %}
    <h2>Create Recipe</h2>
    </div>
        <form method="POST" class="update-add-form">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            
            <h3>Ingredients</h3>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="ingredient-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}

            <button type="submit">Submit</button>
        </form>
        
    </div>

{% endblock %}
