{% extends "ledger/layout.html" %}

{% block title %}Recipe Details - Recipe Book{% endblock %}
{% block content %}

   {% if user.is_authenticated %}
      <h2>Recipe Name: {{ recipe.name }}</h2>
      <h3>Author: {{ recipe.author }}</h3>
      <ul>
         {% for recipe_ingredient in recipe_ingredients %}
            <li>{{ recipe_ingredient.ingredient.name }}: {{ recipe_ingredient.quantity }}</li>
         {% endfor %}
      </ul>
      {% for image in images %}
         <img src="{{ image.image.url }}" alt="{{ image.description }}">
      {% empty %}
         <p>No images.</p>
      {% endfor %}
   {% else %}
      <p>Please <a href="/registration/login.html">log in.</a></p>
   {% endif %}
 {% endblock %}